

    html, body {
        overflow-x: hidden !important;
    }

    .section1{
    margin-top:300px;
    }
    .section0{
        margin-top:10px;
        height: 400px;
        width: 93%;
        margin-left:50px;
    }
    .section3{
        margin-top:50px;
    }
    .container{
        padding:10px 20px;
        margin-bottom: 100px;
    }



@keyframes animate {
    0%{
        background:linear-gradient(to left, red, #fec106) ;
    }
    100%{
        background:linear-gradient(to right, red, #fec106) ;
    }
}





    i {
        color: white;
        font-weight:bolder;
        border-radius: 40px;
        font-size: 20px;
        margin-left: 5px;
        padding:9px;
        margin-right:5px;
        transition:all ease 0.5s;
    }
    .fa-instagram{
        color: red;
        font-weight: bolder;

    }
    .fa-twitter{
        color:rgb(8, 185, 23);
    }
    .fa-facebook{
        color:rgb(8, 126, 223);
    }
    i:hover{
        background-color: #ed3238;
        transition:all ease 0.2s;
        cursor: pointer;
        color:white
    }


    .text-container {
        margin-top:50px;
        margin-left:50px;
        height:auto;
        width:93%;
        background-color:whitesmoke;
        border: none;
        box-shadow: 2px 10px 10px 5px #00203FFF;
        display: flex;
    }

    .text-container .content{
        padding:20px;
        width:50%;
    }
    .text-container .content p {
        padding:10px;
        font-size:15px;
        font-weight:lighter;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        text-align: justify;

    }
    .text-container .content img{
        position: absolute;
        margin-left:150px;
        margin-top:0px;
        box-shadow: 0 4px 8px 0 #00203FFF;

        }

    .text-container .content img:hover{
        box-shadow: 0 4px 8px 0 red;
        }

    .text-container .content .name{
        margin-top:415px;
        margin-left:80px;
        color: green;
        text-align: center;
    }
    .text-container .content .name h3{
        margin-top:2px;
        margin-left:10px;
        color: black;
    }
    .text-container-2 {
        margin-top:10px;
        margin-left:50px;
        height:auto;
        width:93%;
        background-color:whitesmoke;
        display: flex;
    }

    .text-container-2 .content{
        padding:15px;
        width:50%;
    }
    .text-container-2 .content p {
        padding:10px;
        font-size:15px;
        font-weight:lighter;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
        text-align: justify;

    }
    .text-container-2 .content img{
    position: absolute;
    margin-left:10px;
    margin-top:40px;
    height: 370px;
    width: 550px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 #00203FFF;
    }
    .text-container-2 .content img:hover{
    box-shadow: 0 4px 8px 0 red;
    }
    .vision{
        width: 93%;
        height: 400px;
        margin:50px;
        box-shadow: 0 2px 10px 0 #00203FFF;

    }
    .vision img{
        padding:10px;
        position: relative;
        width: 100%;
        object-fit: contain;
        box-sizing: border-box;
        z-index: -2;
    }
    .vision:hover{
        box-shadow: 0 2px 10px red;
    }
    .img-container {
        margin-top:10px;
        margin-left:50px;
        height:auto;
        width:93%;
        background-color:whitesmoke;

    }
    .img-container h1{
        position: relative;
        text-align: center;
        font-weight: bolder;
        padding: 20px;
        color: transparent;
        animation: effect 3s linear infinite;

    }

    .img-container .content{
        display: grid;
        width: 100%;
        margin-top:10px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 12px;

    }
    .img-container .content img{
        margin:10px;
       box-shadow:0 0 15px #00203FFF;
        display: flex;
        height: 200px;
        width: 200px;
        box-sizing: border-box;
        transition: all ease 1s;

    }
    .img-container .content img:hover{

        box-shadow: 0 0 15px red;
        transform: scale(1.1);
        transition: all ease 1s;
    }
    .mand-disc{
        margin:50px 0px 50px 50px;
        box-shadow:0 0 15px #00203FFF;
        width: 93%;
    }

    .mand-disc h1{
        position: relative;
        text-align: center;
        font-weight: bolder;
        padding: 20px;
        color: transparent;
        animation: effect 3s linear infinite;

    }
    .card-container {
        height: auto;
        width: 70%;
        margin-left:200px;
        margin-top:30px;
        display: flex;
    }
    .card-container .item{
        background-color:transparent;
        display: flex;
        margin:20px;
        padding:15px;
        margin-left:10px;
        height:150px;
        width:200px;
        border-radius: 5px;
        text-align: center;
        display: inline-block;
        color:black;
        line-height: 25px;
        word-wrap: wrap;
        box-shadow: 2px 2px 20px 5px #00203FFF;
        cursor: pointer;
    }
    .card-container .item:hover{
        box-shadow: 5px 5px 5px 5px gray;
    }
    .card-container .item i {
        color: green;
        transition:all ease 1s;
    }
    .card-container .item:hover i{
        color:white;
        background-color: red;

    }
    .contact-container{
        display: flex;
        margin-left:50px;
        margin-top:50px;
        width: 93%;
        text-align: center;
    }
    .contact-container .contact-form{
        width: 80%;
    }
    .contact-container .row1{

        display: flex;
        text-align: center;

    }
    .contact-container .contact-form form{
        width: 100%;
        display: flex-inline;

    }
    .contact-container form .row2{

        display: flex;
        text-align: center;
        margin-top:20px;
    }
    .contact-container form .row3{

        display: flex;
        text-align: center;
        margin-top: 10px;
    }
    .contact-container form .item{
        display: inline-block;
        margin:5px;
        width: 200px;
        justify-content: space-between;

    }
    .contact-container form .item label{
        text-align: left;
        font-weight: bold;
        font-size: 18px;

    }

    .contact-container form .item input{
       height: 30px;
       width: 250px;
       border: none;
       border-radius:5px;
       box-shadow: 2px 2px 5px 5px rgba(129, 129, 129, 0.685);
    }
    .contact-container .contact-form form .item  #name{
        margin-left:150px;
    }
    .contact-container .contact-form form .item textarea{
        border:none;
        border-radius:5px;
        box-shadow: 2px 2px 5px 5px rgba(129, 129, 129, 0.685);
    }
    .contact-container form .submit-btn{
        padding:8px;
        font-weight: bolder;
        border: none;
        border-radius:5px;
        box-shadow: 2px 2px 5px 5px rgba(129, 129, 129, 0.685);
        background-color:wheat;
        margin-left:-130px;
        margin-top:20px;

    }
    .contact-container form .submit-btn:hover{
        box-shadow: 2px 2px 5px 5px green;

    }
    ::placeholder{
        padding:10px;
    }

    html, body {
        overflow-x: hidden;
    }
     .course-container .course-bg{
        position: relative;
        background-image: url(../images/cover_photo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 94%;

    }

    .course-container .course-bg::after {
        content: "";
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background:rgba(23, 59, 114, 0.993);
        position:absolute;
        opacity: 0.6;
    }
     .text-content{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 30px;
        filter: brightness(150%);
        z-index: 1;
    }
    .course-container .course-content{
        margin-left: 50px;
        padding:50px;
        font-size: 20px;

    }
    .course-container .course-content p {
        font-family:Arial, Helvetica, sans-serif;
        color: #00203FFF;
    }
    .course-container .course-content h1 {
        text-align: center;
        font-weight: bolder;
        margin-top: 10px;
        color: transparent;
        animation:effect 3s linear infinite;
    }
    .workshop-container {
        width: 94%;
        margin-left: 50px;
        height: auto;
    }

    .workshop-container .workshop-content{
        height: 100%;
        width: 100%;
        display: flex;

    }
     .workshop-container .workshop-content .col{
        padding: 20px;
        width: 50%;
        margin-top:0px;
        border: 3px solid #00203FFF;
     }
     .workshop-container .workshop-content .left{
        width: 850px;
        background-color: wheat;
     }
     .workshop-container .workshop-content .right{
        background-color:white;
     }
     .workshop-container .workshop-content .left p{
        padding:20px 20px 0px 20px;
        text-align: left;
        justify-content:justify;
        text-wrap: wrap;
        line-height: 23px;
        letter-spacing: 1px;
        word-spacing: 3px;
        color: #00203FFF;
     }
     .workshop-container .workshop-content .right img{
        width: fit-content;
        height: 400px;
     }
     .txt-container{
        width: 91.5%;
        margin-left: 50px;
        padding:20px;
        height: auto;
        background:linear-gradient( to right, #E8E8E8, rgba(255, 255, 255, 0.89), rgba(0, 31, 63, 0.377));
     }
     .txt-container p {
        margin-left:30px;
        padding-top:10px;
        color:#00203FFF;
        margin-bottom:30px;
        line-height: 25px;
        z-index: 5;


     }
     .txt-container h3 {
        padding-left:30px;
        color:#00203FFF;

     }
     .txt-container h1{
        text-align: center;
        font-weight: bolder;
        padding: 20px;
        color: transparent;
        animation:effect 3s linear infinite;
    }
.facility-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:50px;
    gap:20px 50px;
    padding: 40px;
    background-color: white;

}
.facility-container .facility{
    height: 320px;
    width: 30%;
    overflow: hidden;
    justify-content: space-between;
    background-color:#00203FFF;
    text-align: center;
    box-shadow: -2px 5px 20px 10px rgba(128, 128, 128, 0.884);
    border-radius: 10px;
    border: 1px solid  whitesmoke;

}
.facility-container .facility h3{
    color: white;
    font-size: 15px;
    line-height: 40px;
    margin-top:20px;
    bottom: 0px;;
    position: relative;

}

.facility-container .facility img{

    object-fit: contain;
    aspect-ratio: 3/2;
    width: 365px;
    transition: all 0.5s ease-in-out;

}
.facility:hover .image{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
.facility .image:hover{
    cursor: zoom-in;
}





.show-big-container{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    top:0%;
    left:0%;
    align-items: center;
    justify-content: center;
    content: '';
    display: none;
    overflow: hidden;
    z-index: 5;

}

.show-big-container .big-image {
    width: 80%;
    max-height: 80vh;
    cursor: zoom-out;
    border: 3px solid salmon;
}

.show-big-container:hover .big-image{
    transform: scale(1.2);
    transition: all 2s ease-in;
}







